html, body {
  height: 100%; 
  margin: 0; 
  padding: 0;
  font-size: 16px;
}

#panel {
  width: 290px;
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 10;
  background-color: #fff;
}

#open-menu {
  position: absolute;
  top:11px;
  left: 105px;
  z-index: 10;
  background-color:#000;
  padding: 6px;
  font-size: 0.8em;
  color:#fff;
  cursor: pointer;
  border: none;
}

#close-menu {
  position: absolute;
  top: 11px;
  left: 255px;
  z-index: 10;
  background-color: #000;
  padding: 4px 8px;
  font-size: 0.8em;
  color: #fff;
  cursor: pointer;
  border: none;
}

#open-menu:hover,
#close-menu:hover {
  background-color:#eee;
  color:#222;
}

.options-box {
  background: #fff;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 10px 20px;
  text-align: left;
  width: 260px;
}

.options-box button {
  display: block;
  float: left;
  width: 120px;
  margin-top: 5px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.options-box button:hover {
  background-color:#fefefe;
}

#show-theatres,
#show-museums {
  margin-right: 10px;
}

#show-museums,
#show-galeries {
  margin-top: 10px;
}

#show-all{
  width: 250px;
  margin: 10px 0 20px 0;
  padding: 10px 0;
}

h1{
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 0;
}

h2{
  padding-left: 20px;
  font-size: 1.1em;
}

#list-of-places {
  width: 230px;
  height: 320px;
  overflow-y: scroll;
  margin-left: 10px;
  scroll-behavior: auto;
  background-color: #eee;
  padding-top: 10px;
  padding-bottom: 15px;
}

#list-of-places li,
#results {
  color: rgb(12, 72, 128);
  cursor: pointer;
  line-height: 1.4;
  margin-bottom: 10px;
  padding: 3px 0;
}

#results {
  font-size: 1.2em;
  font-weight: bold;
}

#list-of-places li:hover,
#results:hover {
  background-color: #fff;
  color: rgb(7, 45, 82);
  text-decoration: none;
}

#map {
  bottom: 0px;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0px;
  z-index: 1;
}

#info-window {
  overflow: hidden;
}

.gm-style-iw {
  width: 200px !important;
  top: 0 !important;
  left: 0 !important;
  border-radius: 2px 2px 0 0;
  padding: 10px;
  font-size: 1.2em;
}

#title {
  font-size: 1.3em;
  font-weight: bold;
}

#address-title {
  text-decoration: underline;
}

#address,
#short-article,
#address-title {
  font-size: 1.1em;
}

#info {
  color: #ff0000;
  padding: 5px;
}

.textBtn {
  position: relative;
  top: -10px;
  left: 3px;
}

#show-all .textBtn {
  top: 0;
  left: 0;
}

#container-offline {
  width:100%;
  height: 100%;
  /* definition for background from site: http://lea.verou.me/css3patterns/#cross */
  background: 
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

#info-offline {
  position: absolute;
  left: 320px;
  background-color: #fff;
  padding: 10px 20px;
}

#info-box {
  position: absolute;
  left: 250px;
  top: 0;
  z-index:10;
  color:#000;
  background-color:yellow;
  padding: 20px;
  width: 220px;
  line-height: 1.4;
  display: none;
  box-shadow: 0 0 1em yellow;
  font-size: 0.95em;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

@media (max-width:767px) {
  #open-menu {
    left: 120px;
    padding: 10px;
  }
}